@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
	font-family: 'Raleway', sans-serif;
}

header ul {
	display: flex;
	flex-flow: row nowrap;
	
	list-style: none;
}

#meat {
	display: flex;
	flex-flow: row nowrap;
}

header ul li {
	margin: 10px 20px;
}

body {
	background-color: aqua
}

header {
	background-color: white
}

footer {
	color: white
}

footer {
	background-color: black
}

#relax {
	font-size: 10pc
}

#relax {
	line-height: 10pt
}

#come {
	font-size: 35px
}

#come {
	line-height: 5px
}

